{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="container wrapper flex-grow-1">

        <h1 class="my-4">{% translate "Statuses" %}</h1>

        <a class="btn btn-primary mb-3" href="{% url 'status_create' %}">{% translate "Create status" %}</a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Creation date" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'status_update' status_id=status.id %}">{% translate "Edit" %}</a>
                    <br>
                    <a href="{% url 'delete_status' status_id=status.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
