{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate "Edit status" %}</h1>

    {% if form.errors %}
        <div>
            <ul>
                {% for error in form.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

        <form action="{% url 'status_update' status_id=status_id %}" method="post">
            {% csrf_token %}
            <table border="1">
                {{ form }}
            </table>
            <input type="submit" class="btn btn-primary" value="{% translate "Edit" %}">
        </form>
    </div>
{% endblock %}