{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <h1 class="my-4"></h1>
    <div class="card">
        <div class="card-body p-5 bg-light">
            <div class="display-4">{% translate "Welcome!" %}</div>
            <p class="lead">{% translate "This is the best task manager in the world. Just give it a try! The interface is absolutely intuitive." %}</p>
{#            <a class="btn btn-primary btn-lg" href="https://github.com/Vadimhungry/">{% translate "Learn more" %}</a>#}
        </div>
    </div>

{% endblock %}
