{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="container wrapper flex-grow-1">

        <h1 class="my-4"></h1>
        <div class="card">
            <div class="card-body p-5 bg-light">
                {% comment %}Translators: Greeting on index page{% endcomment %}
                <div class="display-4">{% translate "Greetings from Hexlet!" %}</div>
                <p class="lead">{% translate "Practical Programming Courses" %}</p>
                <hr>
                <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">{% translate "Learn more" %}</a>
            </div>
        </div>

    </div>
{% endblock %}
