{% extends 'base.html' %}
{% block content %}
    <h1 class="my-4">Регистрация</h1>

    {% if form.errors %}
        <div>
            <ul>
                {% for error in form.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="container wrapper flex-grow-1">
        <form action="{% url 'user_create' %}" method="post">
            {% csrf_token %}
            <table border="1">
                {{ form }}
            </table>
            <input type="submit" class="btn btn-primary" value="Зарегистрировать">
        </form>
    </div>

     <div class="container wrapper flex-grow-1">


         <form method="post">
             <input type="hidden" name="csrfmiddlewaretoken"
                    value="BuEE5Gs8y3por9TdG5Eudk00JBwph3M9kYXukURZAJWz2614q1qB7uzS5NdsrWd4">
             <div class="mb-3"><label class="form-label" for="id_first_name">Имя</label><input type="text"
                                                                                               name="first_name"
                                                                                               maxlength="150"
                                                                                               class="form-control"
                                                                                               placeholder="Имя"
                                                                                               required
                                                                                               id="id_first_name"></div>
             <div class="mb-3"><label class="form-label" for="id_last_name">Фамилия</label><input type="text"
                                                                                                  name="last_name"
                                                                                                  maxlength="150"
                                                                                                  class="form-control"
                                                                                                  placeholder="Фамилия"
                                                                                                  required
                                                                                                  id="id_last_name">
             </div>
             <div class="mb-3"><label class="form-label" for="id_username">Имя пользователя</label><input type="text"
                                                                                                          name="username"
                                                                                                          maxlength="150"
                                                                                                          autofocus
                                                                                                          class="form-control"
                                                                                                          placeholder="Имя пользователя"
                                                                                                          required
                                                                                                          id="id_username">
                 <div class="form-text">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы
                     @/./+/-/_.
                 </div>
             </div>
             <div class="mb-3"><label class="form-label" for="id_password1">Пароль</label><input type="password"
                                                                                                 name="password1"
                                                                                                 autocomplete="new-password"
                                                                                                 class="form-control"
                                                                                                 placeholder="Пароль"
                                                                                                 required
                                                                                                 id="id_password1">
                 <div class="form-text">
                     <ul>
                         <li>Ваш пароль должен содержать как минимум 3 символа.</li>
                     </ul>
                 </div>
             </div>
             <div class="mb-3"><label class="form-label" for="id_password2">Подтверждение пароля</label><input
                     type="password" name="password2" autocomplete="new-password" class="form-control"
                     placeholder="Подтверждение пароля" required id="id_password2">
                 <div class="form-text">Для подтверждения введите, пожалуйста, пароль ещё раз.</div>
             </div>
             <input class="btn btn-primary" type="submit" value="Зарегистрировать">
         </form>

    </div>
{% endblock %}