{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <h1 class="my-4">{% translate "Users" %}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "User name" %}</th>
            <th>{% translate "Full name" %}</th>
            <th>{% translate "Creation date" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'user_update' pk=user.pk %}">{% translate "Edit" %}</a>
                    <br>
                    <a href="{% url 'delete_user' pk=user.pk %}">{% translate "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
