{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <h1 class="my-4">{% translate "Login" %}</h1>
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="{{ form.username.id_for_label }}">{% translate "User name:" %}</label>
            {{ form.username }}
        </div>

        <div>
            <label for="{{ form.password.id_for_label }}">{% translate "Password:" %}</label>
            {{ form.password }}
        </div>

        <input type="submit" class="btn btn-primary" value="{% translate "Login" %}">

    </form>
{% endblock %}