{% extends 'base.html' %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">Вход</h1>
        <form method="post">
            {% csrf_token %}

            <div>
                <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                {{ form.username }}
            </div>

            <div>
                <label for="{{ form.password.id_for_label }}">Пароль:</label>
                {{ form.password }}
            </div>

            <input type="submit" class="btn btn-primary" value="Войти">

        </form>
{% endblock %}