{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}

    <h1 class="my-4">{% translate "Edit" context "User edit" %}</h1>

    {% if form.errors %}
        <div>
            <ul>
                {% for error in form.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{% url 'user_update' user_id=user_id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% translate 'Edit' as button_name %}
        {% bootstrap_button button_type="submit" button_class="btn btn-primary" content=button_name %}
    </form>

{% endblock %}