{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate "Create task" %}</h1>

    {% if form.errors %}
        <div>
            <ul>
                {% for error in form.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

        <form action="{% url 'task_create' %}" method="post">
            {% csrf_token %}
{#            <div class="mb-3">#}
{#                <label class="form-label" for="{{ form.name.id_for_label }}">{% translate "Name" %}</label>#}
{#                {{ form.name }}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label class="form-label" for="{{ form.description.id_for_label }}">{% translate "Description" %}</label>#}
{#                {{ form.description }}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label class="form-label" for="{{ form.status.id_for_label }}">{% translate "Status" %}</label>#}
{#                {{ form.status }}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="{{ form.executor.id_for_label }}" class="form-label">{% translate "Executor" %}</label>#}
{#                {{ form.executor }}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label class="form-label" for="id_labels">{% translate "Labels" %}</label>#}
{#                {{ form.labels }}#}
{#            </div>#}
            {% bootstrap_form form %}
            <input class="btn btn-primary" type="submit" value="{% translate "Create" %}">
        </form>
    </div>
{% endblock %}