{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}

    <h1 class="my-4">Задачи</h1>

    <a class="btn btn-primary mb-3" href="{% url 'task_create' %}">Создать задачу</a>
<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
{#            <div class="mb-3">#}
{#                <label class="form-label" for="{{ filter.form.status.id_for_label }}">Статус</label>#}
{#                {{ filter.form.status }}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label class="form-label" for="{{ filter.form.status.id_for_label }}">Исполнитель</label>#}
{#                {{ filter.form.executor }}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label class="form-label" for="{{ filter.form.status.id_for_label }}">Метки</label>#}
{#                {{ filter.form.labels }}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <div class="form-check">#}
{#                     {{ filter.form.self_tasks }}#}
{#                <label class="form-check-label" for="{{ filter.form.status.id_for_label }}">Только свои задачи</label>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#            <button name="apply_filter" class="btn btn-primary" type="submit">Показать</button>#}
            {% bootstrap_form filter.form %}
            {% translate 'Show' as button_name %}
            {% bootstrap_button button_type="submit" button_class="btn btn-primary" content=button_name %}
        </form>
    </div>
</div>



    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Status' %}</th>
            <th>{% translate 'Author' %}</th>
            <th>{% translate 'Executor' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in object_list %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a class="text-body-emphasis fw-bold" href="{% url 'task' task_id=task.id %}">{{ task }}</a></td>
                <td>
                    {% if task.status %}
                        {{ task.status }}
                    {% endif %}
                </td>
                <td>{{ task.author }}</td>
                <td>
                    {% if task.executor %}
                        {{ task.executor }}
                    {% endif %}
                </td>
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'task_update' task_id=task.id %}">Изменить</a>
                    <br>
                    <a href="{% url 'task_delete' task_id=task.id %}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}